[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pinecone-client = "2.2.4"
openai = "*"
lark = "*"
tiktoken = "*"
pytest = "*"
tinydb = "*"
streamlit = "*"
streamlit-chat = "*"
bs4 = "*"
html5lib = "*"
async-timeout = "*"
exceptiongroup = "*"
networkx = "*"
langchain-community = "*"
langchain-openai = "*"
langchainhub = "*"

[dev-packages]

[requires]
python_version = "3.11"
